In [1]:
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [6]:
# code here
df= pd.Series()

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [11]:
# code here
a1 = pd.Series([1,2,3,4,5])

a2 = pd.Series([10,20,30,40,50])

a1+a2
a1-a2
a1*a2
a2/a1

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [13]:
# code here
a3 = pd.Series([2,4,6,8,10])

a4 = pd.Series([1,3,5,7,10])

a3>a4
a4<a3
a4==a3

0    False
1    False
2    False
3    False
4     True
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [15]:
# code here
series = pd.Series([1,2,'Python', 2.0, True, 100])
def change_dtype(series):
    return pd.to_numeric(series, errors = 'coerce')

series = pd.Series([1,2,'Python', 2.0, True, 100])
change_dtype(series)

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [31]:
# code here
df = pd.read_csv('D:\\Coding journey 2024\\datascience\\panda\\task_Datasets\\csv\\batsman_runs_series.csv')
df.sort_values('batsman_run',ascending = False).head(10)

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
27   AB de Villiers         5181
108        CH Gayle         4997
339        MS Dhoni         4978
452      RV Uthappa         4954
256      KD Karthik         4377

###`Q-7` No of players having runs above 3000

In [37]:
# code here
df[df['batsman_run']>3000].shape[0]

20

###`Q-8` No of players having runs above mean value?

In [39]:
# code here
df[df['batsman_run']>df['batsman_run'].mean()].shape[0]

128

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [54]:
# code here
df = pd.read_csv('D:\\Coding journey 2024\\datascience\\panda\\task_Datasets\\csv\\items.csv', index_col = ['item_name']).squeeze("columns")
df

item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75
Name: item_price, Length: 4622, dtype: object

In [ ]:
df.isna().sum()
def rupees(x):
    try:
        y = x[1:]
    except:
        # Sometimes Dollar sign is not there which throws an exception 
        y = x
    return float(y)*82.49
    
df.apply(rupees)

TypeError: cannot convert the series to <class 'float'>

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here